 <md-content layout="row" layout-align="space-around center" layout-padding="layout-padding" ng-cloak="ng-cloak" class="login-form">
      <md-card flex="flex" flex-gt-sm="50" flex-gt-md="33">
        <md-toolbar>
          <div class="md-toolbar-tools">
            <h2><span>Iniciar sesión</span></h2>
          </div>
        </md-toolbar>
        <md-card-content>
          <form name="Form" ng-submit="entrar()">
            <md-input-container class="md-block">
              <label>Teléfono</label>
              <input type="number" pattern="[0-9]*" inputmode="numeric" name="celular" ng-model="user.celular" placeholder="" required="" allow-only-numbers/>
              <div ng-messages="Form.user.celular.$error" role="alert" multiple="">
                <div ng-message="required" class="my-message">Por favor ingresa tu número teléfonico.</div>
              </div>
            </md-input-container>
            <md-input-container class="md-block">
              <label>Contraseña</label>
              <input type="password" name="password" ng-model="user.contrasena" placeholder="" required="" md-maxlength="10"/>
              <div ng-messages="Form.user.password.$error" role="alert" multiple="">
                <div ng-message="required" class="my-message">Por favor ingresa tu contraseña.</div>
                <div ng-message="md-maxlength" class="my-message">Too long.</div>
              </div>
            </md-input-container>
            <div class="centrado">
              <md-button ng-disabled="!Form.$valid" ng-click="entrar($event);" class="md-raised md-primary">&nbsp Entrar &nbsp</md-button>
            </div>
          </form>
        </md-card-content>
        <div class="centrado">
          <a class="list-group-item" ng-click="goto('/recuperarcontra')">Recuperar mi contraseña</a>
        </div>
         <div class="centrado">
          <a class="list-group-item"  href="#/registro">Registrarme</a>
        </div>

      </md-card>
    </md-content>