<div ng-cloak>
        <md-content>
          <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Detalles">
                <md-content class="md-padding" layout-xs="column" layout="row">
                    <div flex-xs flex-gt-xs="100" layout="column" layout-align="start center">
                            <div>
                                <md-card >
                                    <md-card-header>
                                      <md-card-avatar>
                                        <img class="md-user-avatar" src="{{foto}}"/>
                                      </md-card-avatar>
                                      <md-card-header-text>
                                        <span class="md-title">Abraham Méndez</span>
                                        <span class="md-subhead">Costa Latina, 522</span>
                                      </md-card-header-text>
                                    </md-card-header>
                                    <md-card-title>
                                      <md-card-title-text>
                                        <span class="md-headline">Problemas de altas velocidades en corcega</span>
                                        <span class="md-subhead">
                                                <div>
                                                    <i class="fa fa-map-o"> Avenida Corcega</i>
                                                </div>
                                                <div>
                                                    <i class="fa fa-calendar-o"> 2017-10-04</i>
                                                </div>
                                        </span>
                                      </md-card-title-text>
                                    </md-card-title>
                                    <md-card-actions layout="row" layout-align="start center">
                                          <div class="foroIconosMargin">
                                              <i class="fa fa-thumbs-o-up"> 100</i>
                                            </div>
                                            <div class="foroIconosMargin">
                                                    <i class="fa fa-thumbs-o-down"> 20</i>
                                                  </div>
                                            <div class="foroIconosMargin">
                                                    <i class="fa fa-comments"> 4</i>
                                                </div>
                                      </md-card-actions>
                                    <md-card-content>
                                      <p>
                                        Existen problemas de altas velocidades en corcega, son un peligro para los niños y personas que ahi caminamos.
                                      </p>
                                    </md-card-content>
                                    <md-card-actions layout="row" layout-align="start center">
                                      </md-card-actions>
                                      <div class="centrado">
                                            <md-button class="md-raised md-primary"> <i class="fa fa-thumbs-o-up"> De acuerdo</i></md-button>
                                            <md-button class="md-raised md-primary"><i class="fa fa-thumbs-o-down"> Desacuerdo</i></md-button>
                                        </div>
                                        <br>
                                  </md-card>
                                  <div class="centrado">
                                        <md-button class="md-raised md-primary" ng-click="goto('/problematicaForo')">Volver</md-button>
                                    </div>
                            </div>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="Fotos">
              <md-content class="md-padding">
                    <md-list layout-padding>
                        <md-list-item class="md-3-line" ng-repeat="fot in fotos track by $index">
                                <md-card flex="flex" class="carta" >
                                    <img class="foro-detalles-margin" ng-src="{{fot}}">
                                </md-card>
                        </md-list-item>
                    </md-list>
              </md-content>
            </md-tab>
            <md-tab label="Comentarios">
              <md-content class="md-padding">
                    <md-card flex="flex" class="carta" >
                        <md-list layout-padding>
                            <md-list-item class="md-3-line foro-mensajes-margin" ng-repeat="message in messages">
                                <img ng-src="{{message.face}}" class="md-avatar" alt="{{message.who}}">
                                <div class="md-list-item-text">
                                  <h4>{{message.what}} - {{message.who}}</h4>
                                  <p>
                                     {{message.notes}}
                                  </p>
                                  <p>
                                     Enviado el {{message.when}}
                                  </p>
                                  
                                </div>
                            </md-list-item>
                          </md-list>
                        </md-card>
                          <md-card flex="flex" class="carta" >
                                <div layout-gt-xs="row">
                                    <md-input-container flex-gt-xs class="md-block">
                                        <label>Escribe aquí tu comentario</label>
                                        <input ng-model="user.celular" required="">
                                        <div class="centrado">
                                                <md-button ng-disabled="false" ng-click="registrarUser($event);" class="md-raised md-primary">&nbsp Enviar &nbsp</md-button>
                                        </div>
                                    </md-input-container>
                                </div>
                          </md-card>
              </md-content>
            </md-tab>
          </md-tabs>
        </md-content>
      </div>