<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  
  
  
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>
 
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="restapimodelo0" value="http://192.168.0.109:90/api/Modelo/" />
    <add key="restapimodelo1" value="http://192.168.0.109:88/api/Modelo/" />
    <add key="restapimodelo2" value="http://192.168.0.109:86/api/Modelo/" />
    <add key="restapimodelo3" value="http://192.168.0.109:86/api/Modelo/" />
    <add key="restapimodelo4" value="http://192.168.0.109/api/Modelo/" />
    <add key="restapimodelo9" value="http://IM-ABAEZ:85/api/Modelo/" />
    <add key="restapimodelo10" value="http://localhost:56426/api/Modelo/" />

    <add key="restapimenu0" value="http://192.168.0.109:90/api/Menu/" />
    <add key="restapimenu1" value="http://192.168.0.109:88/api/Menu/" />
    <add key="restapimenu2" value="http://192.168.0.109:86/api/Menu/" />
    <add key="restapimenu3" value="http://192.168.0.109:86/api/Menu/" />
    <add key="restapimenu4" value="http://192.168.0.109/api/Menu/" />
    <add key="restapimenu9" value="http://IM-ABAEZ:85/api/Menu/" />
    <add key="restapimenu10" value="http://localhost:56426/api/Menu/" />

    <add key="restapiapr0" value="http://192.168.0.109:90/api/apr/" />
    <add key="restapiapr1" value="http://192.168.0.109:88/api/apr/" />
    <add key="restapiapr2" value="http://192.168.0.109:86/api/apr/" />
    <add key="restapiapr3" value="http://192.168.0.109:86/api/apr/" />
    <add key="restapiapr4" value="http://192.168.0.109/api/apr/" />
    <add key="restapiapr9" value="http://IM-ABAEZ:85/api/apr/" />

    <add key="debug" value="http://192.168.0.109:86/api/Modelo/" />

    <add key="modo" value="debug" />

    <add key="csmodel_ado" value="VEQzxtILGVPKaKv+HpU+qayGH/AoUeL8XJ3GlRIZdfrEfufSsbcXYKtrIBKtOYkmieIF9iFVi7Gzkr001dwyx+92aZq3/Hv7C+lFGO+hkEfP5hl9d7UUAFB7hTmepr8Fhj6airwaA4AuU8eQJpmJw7Do+RT1UczHSQ0nj0XSvceFAY7JT0RNbxuLCVnAbpC3zbDztTz9mDrwLU3dqsQ468ecAPdBZgS/aFHp7s3Ni/d/tYYFdH6qbM351tjOnmov"/>
    
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.webServer>
    
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AI.Agent.Intercept" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.7.0" newVersion="2.0.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <!--<provider invariantName="Oracle.ManagedDataAccess.Client" type="Oracle.ManagedDataAccess.EntityFramework.EFOracleProviderServices, Oracle.ManagedDataAccess.EntityFramework, Version=6.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />-->
      <provider invariantName="Oracle.ManagedDataAccess.Client" type="Oracle.ManagedDataAccess.EntityFramework.EFOracleProviderServices, Oracle.ManagedDataAccess.EntityFramework, Version=6.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </providers>
  </entityFramework>

  <connectionStrings>
    <!--DESARROLLO-->
    <add name="cs_config" connectionString="DATA SOURCE=server-bdora3:1521/xe;PASSWORD=CONFIG;USER ID=CONFIG" />
    <!--DESARROLLO--> 
    <add name="cs_erpzmx" connectionString="metadata=res://*/Modelo.ModeloOracle.csdl|res://*/Modelo.ModeloOracle.ssdl|res://*/Modelo.ModeloOracle.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=server-bdora3:1521/xe;PASSWORD=erpzmx_ref;USER ID=erpzmx_ref&quot;;" />
    <!--<add name="cs_erpzmx" connectionString="metadata=res://*/Modelo.ModeloOracle.csdl|res://*/Modelo.ModeloOracle.ssdl|res://*/Modelo.ModeloOracle.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=192.168.0.113:1522/orclerp;PASSWORD=zmx!erp!16;USER ID=ERPZMX&quot;;"/>-->
    <!--PRUEBAS--> 
    <!--<add name="cs_erpzmx" connectionString="metadata=res://*/Modelo.ModeloOracle.csdl|res://*/Modelo.ModeloOracle.ssdl|res://*/Modelo.ModeloOracle.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=server-bdora3:1521/xe;PASSWORD=erpzmx_test;USER ID=erpzmx_test&quot;;" />-->
    <!--PREPRODUCCION--> 
    <!--<add name="cs_erpzmx" connectionString="metadata=res://*/Modelo.ModeloOracle.csdl|res://*/Modelo.ModeloOracle.ssdl|res://*/Modelo.ModeloOracle.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=server-bdora3:1521/xe;PASSWORD=erpzmx_pre;USER ID=erpzmx_pre&quot;;" />-->
    <!--PRODUCCION--> 
    <!--<add name="cs_erpzmx" connectionString="metadata=res://*/Modelo.ModeloOracle.csdl|res://*/Modelo.ModeloOracle.ssdl|res://*/Modelo.ModeloOracle.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=server-bdora3:1521/xe;PASSWORD=erpzmx_pre;USER ID=erpzmx_pre&quot;;" />-->
    <!--<add name="OracleDbContext" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id=oracle_user;Password=oracle_user_password;Data Source=oracle" />-->
    <add name="OracleDbContext" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id=oracle_user;Password=oracle_user_password;Data Source=oracle" />
  </connectionStrings>
  <oracle.manageddataaccess.client>
    <version number="*">
      <edmMappings>
        <edmNumberMapping>
          <add NETType="bool" MinPrecision="1" MaxPrecision="1" DBType="Number" />
          <add NETType="byte" MinPrecision="2" MaxPrecision="2" DBType="Number" />
          <add NETType="int16" MinPrecision="3" MaxPrecision="4" DBType="Number" />
          <add NETType="int32" MinPrecision="5" MaxPrecision="9" DBType="Number" />
          <add NETType="int64" MinPrecision="9" MaxPrecision="19" DBType="Number" />
        </edmNumberMapping>
      </edmMappings>
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>