<div ng-controller="loginCtrl as login">
    <div id="divLogin">
        <form ng-submit="entrar();">


            
            <span id="spanUsuario">
                <input class="txt" type="text" placeholder="Usuario" required ng-model="usuario.Cuenta" />
            </span>
            <span id="spanContrasena">
                <input id="txtContrasena" class="txt" type="password" placeholder="Contraseña" required ng-model="usuario.Contrasena" />
            </span>
            <span id="spanBtnLogin">
                <input class="btn btn-azul" type="submit" value="Entrar" />
            </span>
            
            
        </form>
    </div>
    <div>
        AQUI UN FONDO BONITO
    </div>

</div>
