<md-content layout-padding id="popupContainer">
        <div id="divMensajeLeer">
            <h5><b>Leer antes</b></h5>
            <h5>-Las votaciones estan habilitadas, favor de buscar la opción en el menú.</h5>
            <h5>-Los datos presentados son de prueba, evaluar unicamente lo visual por el momento.</h5>
            <h5>-Las opciones en el menú con un Asterisco (*) al lado de su nombre, estan en desarrollo.</h5>
            <h5>Por su comprensión, gracias!!</h5>
        </div>
        <div>
            <form name="Form">
                <md-card flex="flex" class="carta" >
                    <div>
                        <h5><b>Problemáticas destacadas</b></h5>
                    </div>
                    <div class="separacionItemsPrincipal" layout-gt-xs="row">
                            - <span class="label label-success"> <i class="fa fa-thumbs-o-up"> 100</i></span><span class="label label-danger"> <i class="fa fa-thumbs-o-down"> 10</i></span>  Altas velocidades avenida corcega. <span class="label label-primary"> Ver detalles</span>
                    </div>
                    <div class="separacionItemsPrincipal" layout-gt-xs="row">
                            - <span class="label label-success"> <i class="fa fa-thumbs-o-up"> 100</i></span><span class="label label-danger"> <i class="fa fa-thumbs-o-down"> 10</i></span>  Altas velocidades avenida corcega. <span class="label label-primary"> Ver detalles</span>
                    </div>
                    <div class="separacionItemsPrincipal" layout-gt-xs="row">
                            - <span class="label label-success"> <i class="fa fa-thumbs-o-up"> 100</i></span><span class="label label-danger"> <i class="fa fa-thumbs-o-down"> 10</i></span>  Altas velocidades avenida corcega. <span class="label label-primary"> Ver detalles</span>
                    </div>
                </md-card>
                <md-card flex="flex" class="carta" >
                        <div>
                            <h5><b>Problemáticas en gestión</b></h5>
                        </div>
                        <div class="separacionItemsPrincipal" layout-gt-xs="row">
                                - Altas velocidades avenida corcega. <span class="label label-primary"> Ver detalles</span>
                        </div>
                        <div class="separacionItemsPrincipal" layout-gt-xs="row">
                                - Altas velocidades avenida corcega. <span class="label label-primary"> Ver detalles</span>
                        </div>
                        <div class="separacionItemsPrincipal" layout-gt-xs="row">
                                - Altas velocidades avenida corcega. <span class="label label-primary"> Ver detalles</span>
                        </div>
                </md-card>
                <md-card flex="flex" class="carta" >
                        <div>
                            <h5><b>Aportaciones a problemáticas</b></h5>
                        </div> 
                        <div class="separacionItemsPrincipal" layout-gt-xs="row">
                                - Altas velocidades avenida corcega. <span class="label label-primary"> 30 Aportaciones</span> <span class="label label-success"> $1,500</span>
                        </div>
                        <div class="separacionItemsPrincipal" layout-gt-xs="row">
                                - Altas velocidades avenida corcega. <span class="label label-primary"> 30 Aportaciones</span> <span class="label label-success"> $1,500</span>
                        </div>
                        <div class="separacionItemsPrincipal" layout-gt-xs="row">
                                - Altas velocidades avenida corcega. <span class="label label-primary"> 30 Aportaciones</span> <span class="label label-success"> $1,500</span>
                        </div>
                </md-card>
                <md-card flex="flex" class="carta" >
                        <div>
                            <h5><b>Últimas problemáticas registradas</b></h5>
                        </div>
                        <div class="separacionItemsPrincipal" layout-gt-xs="row">
                                - <span class="label label-success"> <i class="fa fa-thumbs-o-up"> 100</i></span><span class="label label-danger"> <i class="fa fa-thumbs-o-down"> 10</i></span>  Altas velocidades avenida corcega. <span class="label label-primary"> Ver detalles</span>
                        </div>
                        <div class="separacionItemsPrincipal" layout-gt-xs="row">
                                - <span class="label label-success"> <i class="fa fa-thumbs-o-up"> 100</i></span><span class="label label-danger"> <i class="fa fa-thumbs-o-down"> 10</i></span>  Altas velocidades avenida corcega. <span class="label label-primary"> Ver detalles</span>
                        </div>
                        <div class="separacionItemsPrincipal" layout-gt-xs="row">
                                - <span class="label label-success"> <i class="fa fa-thumbs-o-up"> 100</i></span><span class="label label-danger"> <i class="fa fa-thumbs-o-down"> 10</i></span>  Altas velocidades avenida corcega. <span class="label label-primary"> Ver detalles</span>
                        </div>
                </md-card>
            </form>
        </div>
    </md-content>


    <!--

<span class="label label-default">Default Label</span>
<span class="label label-primary">Primary Label</span>
<span class="label label-success">Success Label</span>
<span class="label label-info">Info Label</span>
<span class="label label-warning">Warning Label</span>
<span class="label label-danger">Danger Label</span>
    -->