<md-content layout-padding id="popupContainer">

    
    <div>
      <form name="Form">
          <md-card flex="flex" class="carta" >
            <div>
                <h3>Datos de usuario</h3>
            </div>
            <div layout-gt-xs="row">
                <md-input-container flex-gt-xs class="md-block">
                    <label>Número de celular (10 digitos)</label>
                    <input type="number" pattern="[0-9]*" inputmode="numeric" ng-model="user.celular" required="" allow-only-numbers>
                </md-input-container>
                <div class="alinea-derecha " ng-if="user.celular!=undifined && user.celular.toString().length != 10">
                        El número de celular debe ser a 10 digitos incluyendo Lada. <i class="fa fa-close rojo"></i>
                </div>
                <md-input-container flex-gt-xs class="md-block">
                    <label>Contraseña</label>
                    <input type="password" ng-model="user.contrasena" required="" md-maxlength="10">
                </md-input-container>
                <md-input-container flex-gt-xs class="md-block">
                    <label>Confirmar Contraseña</label>
                    <input type="password" ng-model="contrasena2" required="" md-maxlength="10">
                </md-input-container>
                <div class="alinea-derecha " ng-if="user.contrasena!=undefined && user.contrasena==contrasena2">
                    Contraseñas coinciden <i class="fa fa-check verde"></i>
                </div>
                 <div class="alinea-derecha " ng-if="user.contrasena!=undefined && user.contrasena!=contrasena2">
                    Contraseñas no coinciden <i class="fa fa-close rojo"></i>
                </div>
                 <div class="alinea-derecha " ng-if="user.contrasena!=undefined && user.contrasena.length < 6">
                    Contraseña debe tener 6 caracteres como mínimo <i class="fa fa-close rojo"></i>
                </div>
                <div class="alinea-derecha " ng-if="user.contrasena!=undefined && user.contrasena.length > 10">
                    Contraseña debe tener 10 caracteres como máximo <i class="fa fa-close rojo"></i>
                </div>
            </div>
        </md-card>
        <md-card flex="flex" class="carta" >
                <div>
                    <h3>Foto de perfil</h3>
                </div>
                <md-card-title>
                        <md-card-title-media>
                        <div class="md-media-sm card-media">
                                <img class="img-circle" src="{{user.fotoPerfil}}">
                        </div>
                        </md-card-title-media>
                    <md-card-title-text>
                        <div layout-gt-xs="row">
                                <input on-select-image='updateImageArray' class="ng-hide" id="input-file-id" type="file" accept="image/*" ng-model="imageList2" image="imageList2" resize-max-height="150" resize-max-width="150" resize-quality="0.3" resize-type="image/jpg" ng-image-compress/>
                                <label for="input-file-id" class="md-button md-raised md-primary">Subir foto</label>
                            </div>
                    </md-card-title-text>
                </md-card-title>
            </md-card>
          <md-card flex="flex" class="carta" >
            <div>
                <h3>Datos personales</h3>
            </div>
            <div layout-gt-xs="row">
               

                <md-input-container flex-gt-xs class="md-block">
                    <label>Apellido Paterno</label>
                    <input ng-model="user.apPaterno" required="">
                </md-input-container>

                <md-input-container flex-gt-xs class="md-block">
                    <label>Apellido Materno</label>
                    <input ng-model="user.apMaterno" required="">
                </md-input-container>

                <md-input-container flex-gt-xs class="md-block">
                    <label>Nombre(s)</label>
                    <input ng-model="user.nombre" required="">
                </md-input-container>

                <md-input-container flex-gt-xs class="md-block">
                    <label>Fecha Nacimiento</label>
                    <md-datepicker ng-model="user.fechaNac" required=""></md-datepicker>
                </md-input-container>
                
            </div>
            <div layout-sm="row">
                    <md-input-container flex class="md-block">
                        <label>Correo electrónico</label>
                        <input ng-model="user.email" type="email" required="">
                    </md-input-container>
                </div>
        </md-card>
            <md-card flex="flex" class="carta">
        <div>
            <h3>Domicilio</h3>
        </div>
        <div layout-gt-xs="row">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Calle</label>
                <md-select ng-model="user.idCalle" required="" md-on-close="getNumeros()">
                    <md-option ng-repeat="calle in calles" value="{{calle.id_Calle}}" >
                        {{calle.nombreCalle}}
                    </md-option>
                </md-select>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Número de casa</label>
                <md-select ng-model="user.idCasa" required="" >
                    <md-option ng-repeat="casa in casas" value="{{casa.id_numero}}" >
                        {{casa.numero}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>
         </md-card>
    <md-card flex="flex" class="carta" >
        <div>
            <h3>Datos secretos</h3>
        </div>
        <div layout-gt-xs="row">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Pregunta secreta</label>
                <md-select ng-model="user.preguntaSecreta" required="">
                <md-option ng-repeat="pregunta in preguntasSecretas" value="{{pregunta.descripcion}}" >
                    {{pregunta.descripcion}}
                </md-option>
                </md-select>
            </md-input-container>
              <md-input-container flex-gt-xs class="md-block">
            <label>Respuesta secreta</label>
            <input ng-model="user.respuestaSecreta" required="">
          </md-input-container>
        </div>
        </md-card>
         <div class="centrado">
              <md-button class="md-raised md-primary" ng-click="goto('/login')">Volver</md-button>
              <md-button ng-disabled="!Form.$valid || (user.contrasena!=undifined && user.contrasena!=contrasena2) || (user.celular!=undifined && user.celular.toString().length != 10) || user.contrasena.length < 6 || user.contrasena.length > 10" ng-click="registrarUser($event);" class="md-raised md-primary">&nbsp Registrar &nbsp</md-button>
         </div>
      </form>
    </div>
  </md-content>
</div>