<HTML>
    <HEAD>
    	<meta charset="utf-8">
        <TITLE>Título de la página</TITLE>

        <link href="~/Estilos/animate.css" rel="stylesheet" />
        <link href="~/Estilos/estilos.css" rel="stylesheet" />
        <link href="~/Estilos/jquery-ui.min.css" rel="stylesheet" />

        <script src="~/LibreriasJS/jquery-1.11.3.min.js"></script>
        <script src="~/LibreriasJS/jquery-ui.min.js"></script>
        <script src="~/Frontend/test.js"></script>
    </HEAD>

    <BODY>
    	<div class="contenedor" >
    		<div class="imagenFondo">
	    		<img src="http://www.planwallpaper.com/static/images/Autumn-Garden-HD-Wallpaper1.jpg" height="100%" width="100%"/>
  			</div>
    		<div class="login animated">
		    	<form>
		    		<input id="usuario" class="tb10" type="text" name="fname" placeholder="Usuario" required>
			  		 <input id="contra" class="tb10" type="password" name="lname" placeholder="Password" required>
			    	 <input type="button" value="ENTRAR" class="myButton"/>
		    	</form>
    		</div>
    	</div>
    </BODY>
</HTML>